.table2 {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: black;
}

.titulo_index {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.titulo_index hr {
    border-top-color: #a6e1ec;
}

.bg-clube-active,
.modal-danger .modal-header,
.modal-danger .modal-footer {
    /* Palmeiras */
    background-color: #4e5052 !important;
    color: #ffffff;
}

.li.header {
    color: #ffffff;
}

.sidebar-menu {
    color: #ffffff;
}